/**********************************************************/
/*********************** Colors ***************************/
/**********************************************************/

// Main colors
$color-page: #FFFFFF;
$color-section: #FFFFFF;
$color-section-content: #000000;

// Decoration colors
$color-error: #160b0b;
$color-warning: #191207;
$color-info: #071318;
$color-success: #0c130d;

.light {
  // Main colors
  --color-page: #{$color-page};
  --color-section: #{$color-section};
  --color-section-content: #{$color-section-content};

  // Decoration colors
  --color-error: #{$color-error};
  --color-warning: #{$color-warning};
  --color-info: #{$color-info};
  --color-success: #{$color-success};
}
