@import 'styles/variables';

.big-background-image {

  .source,
  img {
    position: absolute;
    z-index: -1;

    /* Position the top edge of the element at the middle of the container */
    top: 50%;
    /* Position the left edge of the element at the middle of the container */
    left: 50%;
    /* Center the image */
    transform: translate(-50%, -50%);
    /* Make image stretch to fill the width of the container */
    width: 100%;
    /* Allow image height to be set automatically to maintain aspect ratio */
    height: auto;

    /* Optional: If you want to ensure the image covers the height, too */
    min-height: 100%;
  }
}

.icon {

  .source,
  img {
    width: 20px;
    height: 20px;
  }
}
