<!DOCTYPE html>
<html lang="en" class="dark">

<body>
  <section class="full-page">
    <h1 class="page-title">Basic app</h1>

    <% var url="/public/images/example-fullscreen-image.png" ; %>
    <% var className='big-background-image' ; %>
    <%- include('../components/picture/index.ejs', {url: url, className: className }) %>

        <div class="social-links">
          <% var socials=[{url: "/public/images/example-fullscreen-image.png" , title: 'Telegram', className: 'icon' },
            {url: "/public/images/example-fullscreen-image.png" , title: 'Telegram', className: 'icon' }, ] ; %>
            <% socials.forEach(function(social){ %>
              <%- include('../components/social-link/index.ejs', {
                url: social.url, title: social.title, className: social.className}); %>
              <% }); %>
        </div>
  </section>
  <section>
    <h2>Section 1 Title</h2>
  </section>
  <section>
    <h2>Section 2 Title</h2>
  </section>
</body>

</html>
