.page-title {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    text-align: center;
}

.social-links {
    position: absolute;

    right: 25%;
    top: 50%;
    transform: translateY(-50%);
}
