@import 'styles/variables';

header {
  box-sizing: border-box;
  background-color: $colorSectionBG;
  height: $headerHeight;
  color: $colorSectionText;
  padding: $sectionOffsetVertical $sectionOffsetHorizontal;
}
