@import 'styles/variables';

footer {
  box-sizing: border-box;
  background-color: $colorSectionBG;
  height: $footerHeight;
  color: var(--color-section-background);
  padding: $sectionOffsetVertical $sectionOffsetHorizontal;
}
